$yellow: #d8c518;
$red: #ff0000;
$green: #15ff00;
$blue: #4400ff;

$celeste: #0b3626;
@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-image: url(/images/banner.jpg);
    background-size: cover;
    background-color: $yellow;
    @include margenes(50px, 0px );
    color: $celeste;
    height: 100%;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    color: $blue;
    @include margenes(10px,0px);
}

.card-hotel{
    flex: 1 200px;
    /*padding: 2px 0px 2px 0px;*/
    @include margenes(10px, 0px );
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.footer-address-icon{
    padding-right: 10px;
}
.tab-content{
    padding-top: 10px;
}
.img-card {
    width: 10%;
    height: 50%;
}