.jumbotron {
  background-image: url(/images/banner.jpg);
  text-align: center;
  background-size: cover;
  background-color: #f2db07;
  margin-top: 50px;
  margin-bottom: 0px;
  color: #1a8fb6;
  height: 100%;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #f2db07;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
